<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.statRank.repository.CharacterMapper">
    <insert id="insert" parameterType="com.example.statRank.dto.CharacterDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO characters (name, image, content, stat1, stat2, stat3, stat4, stat5)
        VALUES (#{name}, #{image}, #{content}, #{stat1}, #{stat2}, #{stat3}, #{stat4}, #{stat5})
    </insert>

    <select id="findAll" resultType="com.example.statRank.dto.CharacterDTO">
        SELECT id, name, image, content, stat1, stat2, stat3, stat4, stat5
        FROM characters
    </select>

    <select id="findById" parameterType="Long" resultType="com.example.statRank.dto.CharacterDTO">
        SELECT id, name, image, content, stat1, stat2, stat3, stat4, stat5
        FROM characters
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.example.statRank.dto.CharacterDTO">
        UPDATE characters
        SET name = #{name}, image = #{image}, content = #{content}, stat1 = #{stat1}, stat2 = #{stat2}, stat3 = #{stat3}, stat4 = #{stat4}, stat5 = #{stat5}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM characters
        WHERE id = #{id}
    </delete>
</mapper>